/* home page styling */

.header {
    background-color: var(--red2);
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: inset 0px -3px 20px  black; */
    .clz-logo {
      width: 500px;
      height: 375px;
    }
}

.header2 {
    background-color: var(--red2);
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* box-shadow: inset 0px -3px 20px  black; */
    .clz-logo {
      width: 350px;
      height: 230px;
    }
}