// tour section that shows the hours
.tour1{
    height: 40vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto);
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    .t1-header{
        color: var(--blue);
        font-size: 53px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 25px;
        font-family: Mundo-Reg;
        margin-top: -10px;
    }
    .t1-subhead{
        color: var(--blue);
        font-size: 28px;
        margin-top: -25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-weight: 600;
        font-family: Mundo-Reg;
    }
    .t1-outp{
        color: var(--blue);
        font-size: 24px;
        margin-top: -30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
    }
    .t1-inp{
        color: var(--blue);
        font-size: 24px;
        margin-top: -45px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
    }
}
// tour section for contacting people
.tour2 {
    height: 35vh;
    width: 100vw;
    background-color: var(--blue);
    box-shadow: 0px 0px 15px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    .nurse {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .t2-head{
            color: white;
            font-size: 53px;
            font-family: Mundo-Reg;
        }
    } 
    .spec {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        .t2-head2{ 
            color: white;
            font-size: 53px;
            font-family: Mundo-Reg;
        }
    }
}
// video section for showing off video
.video {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1,auto); 
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px black; 
    background-color: white;
    .video-title {
        color: var(--blue);
        font-size: 63px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Mundo-Reg;
        
    }
    .mediaplayer {
        width: 825px;
        height: 400px;
        background-color: var(--blue);
        margin-top: -10%;
    }
} 